html {
  font-size: 10px;
  height: 100%;
}

body {
  background: black;
  /* background-image: url('../img/bubble-1.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* padding: 0 0.5rem; */
}

.block-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* grid-gap: 0.5rem;
  grid-gap: 2px;
  grid-gap: 3px; */
}

.block {
  background: white;
  background: black;
  height: 20vh;
  width: auto;
  /* opacity: 0.5;
  opacity: 1; */
  opacity: 0.97;
  /* border-radius: 5px;
  border-radius: 4px;
  border-radius: 3px; */
  /* filter: blur(1px);
  filter: blur(0.5px); */
  transition: 0.2s;
}

@media only screen and (max-width: 768px) {
  .block-container {
    grid-template-columns: repeat(5, 1fr);
    height: 100vh;
    overflow: hidden;
  }

  .block {
    height: 20vh;
  }
}

@media only screen and (max-width: 480px) {
  .block {
    height: 10vh;
  }
}
